/* Navigation bar */

nav div {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  float: left;
  height: 180px;
  position: relative;
  width: 12%;
}

nav div:first-child {
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  float: left;
  font-size: 75px;
  height: 180px;
  width: 28%;
}

nav img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main */

main {
  box-sizing: border-box;
  float: left;
  height: 1320px;
  width: 100%;
}

h1 {
  display: inline;
  font-size: 2.5em;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50px;
  transform: translateX(-50%);
  z-index: 1;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

/* Feature articles */

.feature_articles {
  position: relative;
}

mark {
  background-color: #ccc;
}

.feature_articles article {
  border: solid;
  box-sizing: border-box;
  float: left;
  height: 660px;
  position: relative;
  width: 50%;
}

.feature_articles .description {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.feature_articles img {
  left: 25%;
  position: absolute;
  top: 30%;
  transform: rotate(-20deg);
}

/* Latest posts */

.latest_posts .description {
  position: absolute;
  top: 80px;
}

.latest_posts article {
  border: solid;
  box-sizing: border-box;
  float: left;
  height: 600px;
  padding: 10px;
  position: relative;
  width: 33.3%;
}

.latest_posts p{
  font-size: 1.5em;
  position: absolute;
  top: 40%;
  line-height: 1.5;
}

/* handbook */

.handbook {
  background-color: #ccc;
  border: solid;
  box-sizing: border-box;
  float: left;
  height: 1100px;
  position: relative;
  width: 100%;
}

.handbook .description {
  display: inline;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 20%;
  transform: translate(-50%, -50%);
}

.handbook .title {
  font-size: 1.2em;
  text-decoration: underline;
}

.handbook p {
  display: inline;
  font-size: 1.5em;
  line-height: 1.5;
  padding: 0 270px;
  position: absolute;
  text-align: center;
  top: 30%;
}

.handbook img{
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
}

/* Person of the Week */

.person_of_the_week {
  border: solid;
  box-sizing: border-box;
  float: left;
  height: 350px;
  position: relative;
  width: 100%;
}

.person_of_the_week p {
  box-sizing: border-box;
  float: right;
  font-size: 1.5em;
  line-height: 1.5;
  padding-right: 30px;
  padding-top: 80px;
  width: 900px;
}

.person_of_the_week img {
  float: left;
  padding-left: 60px;
  padding-top: 80px;
  transform: rotate(-20deg);
}

/* Twitter */

.twitter article {
  border: solid;
  box-sizing: border-box;
  float: left;
  height: 400px;
  position: relative;
  width: 50%;
}

.twitter img {
  float: left;
  padding-top: 60px;
  padding-left: 60px;
  transform: rotate(-20deg);
}

.twitter .description {
  float: right;
  padding-top: 80px;
  width: 70%;
  padding-right: 30px;
}

.twitter p {
  float: right;
  width: 70%;
  font-size: 1.5em;
  line-height: 1.5;
  padding-right: 30px;
  padding-top: 20px;
}
